.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: auto;
  padding: 2rem 5rem;
  background-color: #d1fae5;
  align-content: center;
}
input {
  width: 80%;
  padding: 1rem;
}

header {
  background-color: #6ee7b7;
}
